Maintainer: Ricardo Pardini <ricardo@pardini.net>
Source: kodi-rockchip-gbm
Section: video
Priority: optional
Build-Depends: debhelper (>=9.2), lsb-release, bash (>= 4.0), dh-sequence-single-binary
Standards-Version: 3.9.6
Homepage: https://kodi.tv/

Package: kodi-rockchip-gbm
Provides: kodi
Conflicts: kodi
Description: kodi gbm for rockchip rkmpp
Section: video
Pre-Depends: bash (>= 4.0)
Depends: ${misc:Depends}, ${shlibs:Depends}, pulseaudio
