Maintainer: Ricardo Pardini <ricardo@pardini.net>
Source: kodi-rockchip-gbm
Section: video
Priority: optional
Build-Depends: debhelper (>= 13.16~), lsb-release, bash (>= 4.0), dh-sequence-single-binary
X-DH-Compat: 14
Standards-Version: 3.9.6
Homepage: https://github.com/armsurvivors/kodi-rockchip-deb

Package: kodi-rockchip-gbm
Architecture: @ARCH@
Provides: kodi, kodi-rockchip-gbm-@FLAVOR@
Conflicts: kodi
Section: video
Pre-Depends: bash (>= 4.0)
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: pulseaudio
XB-Kodi-Rockchip-Flavor: @FLAVOR@
XB-Kodi-Rockchip-Build: @BUILD_INFO@
XB-Kodi-Rockchip-Components: @COMPONENTS@
Description: @SYNOPSIS@
@LONG_DESCRIPTION@
