[Unit]
Description=kodi rockchip rkmpp gbm standalone
After=network-online.target graphical.target
Requires=graphical.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/kodi-rockchip-gbm
Environment=FFMPEG_RKMPP_DEC_OPT="afbc=on"
Environment=HOME=/root
ExecStart=/usr/local/bin/kodi --windowing=gbm --audio-backend=alsa

[Install]
WantedBy=multi-user.target
