#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=nostrip

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=kodi
	dh_installsystemd --name=pulseaudio --enable --start

override_dh_usrlocal:
	# Intentionally left blank to prevent dh_usrlocal from running. I'm *evil* and packaging stuff in /usr/local. Fire me.

override_dh_shlibdeps:
	dh_shlibdeps # --dpkg-shlibdeps-params=-lusr/local/lib # let it find its own local libs