#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=nostrip

%:
	dh $@


#override_dh_installsystemd:
#	dh_installsystemd --name=containerd --no-enable --no-start

